<header class="header" id="header">
	<nav class="navbar container">
		<a href="{{path('home')}}" class="brand"><img src="{{asset('assets/img/logo-cookery.png')}}"></a>
		<div class="burger" id="burger">
			<span class="burger-line"></span>
			<span class="burger-line"></span>
			<span class="burger-line"></span>
		</div>
		<span class="overlay"></span>
		<div class="menu" id="menu">
			<ul class="menu-inner">
				<li class="menu-item">
					<a class="menu-link" href="{{path('home')}}">Accueil</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="{{path('app_recipe_index')}}">Recettes</a>
				</li>
				{% if not is_granted('ROLE_USER')%}
					<li class="menu-item">
						<a class="menu-link" href="{{path('app_register')}}">Inscription</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="{{path('app_login')}}">Connexion</a>
					</li>
				{% else %}


					<button class="btn" id="btn">
						<i class="fa-solid fa-user"></i>

					</button>

					<div class="dropdown" id="dropdown">
						<a href="{{path('app_favorite')}}">
							recettes favorites
						</a>

						<a href="{{path('app_recipe_new')}}">

							Ajouter une recette
						</a>
						<a href="{{path('app_created_recipes')}}">
							Mes recettes
						</a>

						<a href="{{path('app_logout')}}">
							Déconnexion
						</a>
					</div>

					<script>
					
					</script>

				{% endif %}
			</ul>

		</div>
		<span>
			<i class="fa-solid fa-magnifying-glass search-toggle"></i>
		</span>


		<div class="search-block">


			{{ render(controller('App\\Controller\\SearchController::searchBar')) }}

		</div>
	</nav>
</header>
