<header class="header" id="header">
	<nav class="navbar container">
		<a href="{{path('home')}}" class="brand"><img src="{{asset('assets/img/logo-cookery.png')}}"></a>
		<div class="burger" id="burger">
			<span class="burger-line"></span>
			<span class="burger-line"></span>
			<span class="burger-line"></span>
		</div>
		<span class="overlay"></span>
		<div class="menu" id="menu">
			<ul class="menu-inner">
				<li class="menu-item">
					<a class="menu-link" href="{{path('home')}}">Accueil</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="{{path('app_recipe_index')}}">Recettes</a>
				</li>
				{% if not is_granted('ROLE_USER')%}
					<li class="menu-item">
						<a class="menu-link" href="{{path('app_register')}}">Inscription</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="{{path('app_login')}}">Connexion</a>
					</li>
				{% else %}


					<button class="btn" id="btn">
						<i class="fa-solid fa-user"></i>

					</button>

					<div class="dropdown" id="dropdown">
						<a href="{{path('app_favorite')}}">
							recettes favorites
						</a>

						<a href="{{path('app_recipe_new')}}">

							Ajouter une recette
						</a>
						<a href="{{path('app_created_recipes')}}">
							Mes recettes
						</a>

						<a href="{{path('app_logout')}}">
							Déconnexion
						</a>
					</div>

					<script>
						// toggle menu dropdown

const dropdownBtn = document.getElementById("btn");
const dropdownMenu = document.getElementById("dropdown");
// const toggleArrow = document.getElementById("arrow");

// Toggle dropdown function
const toggleDropdown = function () {
dropdownMenu.classList.toggle("show");
// toggleArrow.classList.toggle("arrow");
};


// Toggle dropdown open/close when dropdown button is clicked
dropdownBtn.addEventListener("click", function (e) {
e.stopPropagation();
toggleDropdown();
});


// Close dropdown when dom element is clicked
document.documentElement.addEventListener("click", function () {
if (dropdownMenu.classList.contains("show")) {
toggleDropdown();
}
});

					</script>

				{% endif %}
			</ul>

		</div>
		<span>
			<i class="fa-solid fa-magnifying-glass search-toggle"></i>
		</span>


		<div class="search-block">


			{{ render(controller('App\\Controller\\SearchController::searchBar')) }}

		</div>
	</nav>
</header>
