{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/form.css')}}">
{% endblock %}


{% block body %}
<div class="main">

    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<div class="bloc-title">
	<h1>Rénitialiser votre mot de passe</h1>
</div>
<div class="form-container">



    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div class="forgetr">
            <p>
               Entrez votre adresse e-mail et nous vous enverrons un
                lien pour réinitialiser votre mot de passe.
            </p>
        </div>

        <button class="btn btn-primary">ENVOYER</button>
    {{ form_end(requestForm) }}
    </div>
    </div
{% endblock %}
