{% extends 'base.html.twig' %}

{% block title %}recipe-search
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/recipes.css')}}">
{% endblock %}


{% block body %}
	<div class="main">
		{% if app.request.method == 'POST' %}
			{% if recipes | length == 0 %}


				<div class="bloc-title">
					<h1>Aucun Résultat</h1>
				</div>

			{% else %}
				<div class="bloc-title">
					<h1>Résultat de la recherche</h1>
				</div>
				<div class="recipe-container">
					{% for recipe in recipes %}

						<article class="recipe-card">
							<img src="{{ vich_uploader_asset(recipe, 'imageFile') }}">

							<h3 class="title-recipe">{{ recipe.name }}</h3>
							<div class="bottom-card">
								<div class="infos-container">
									<div class="bloc-info-recipe">
										<i class="fa-solid fa-location-dot"></i>
										<span>{{recipe.region.name}}</span>

									</div>
									<div class="bloc-info-recipe">
										<i class="fa-solid fa-utensils"></i>
										<span>{{recipe.category.name}}</span>
									</div>
									<div class="bloc-info-recipe">
										<i class="fa-solid fa-clock"></i>
										{% if recipe.cookingTime >= 60 %}
											{% set hours = recipe.cookingTime // 60 %}
											{% set minutes = recipe.cookingTime % 60 %}
											<span>{{ hours }}
												h
												{{ minutes }}
												min</span>
										{% else %}
											<span>{{ recipe.cookingTime }}
												min</span>
										{% endif %}
									</div>

								</div>


								{% include "partials/likeButton.html.twig" %}


							</article>

						{% endfor %}
					</div>

				{% endif %}

			{% endif %}
		</div>

	{% endblock %}
