{% extends 'base.html.twig' %}

{% block title %}Mes Recettes   - COOKERY TOUR
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/recipes.css')}}">
{% endblock %}

{% block body %}
	<div class="main">

		<div class="bloc-title">
			<h1>
				MES RECETTES</h1>
		</div>


		<div class="recipe-container">
			{% for recipe in pagination %}

				<article class="recipe-card" data-aos="fade-up" data-aos-duration="2000">

					<img src="{{ vich_uploader_asset(recipe, 'imageFile') }}">

					<h3>{{ recipe.name }}</h3>
					<div class="bottom-card">
						<div class="infos-container">
							<div class="bloc-info-recipe">
								<i class="fa-solid fa-location-dot"></i>
								<span>{{recipe.region.name}}</span>

							</div>
							<div class="bloc-info-recipe">
								<i class="fa-solid fa-utensils"></i>
								<span>{{recipe.category.name}}</span>
							</div>
							<div class="bloc-info-recipe">
								<i class="fa-solid fa-clock"></i>
								<span>{{ recipe.cookingTime }}
									min</span>
							</div>
						</div>


						{% include "partials/likeButton.html.twig" %}


					</article>
				{% else %}

					<td colspan="5">no records found</td>
					{# <a href="{{ path('app_recipe_new') }}">Create new</a> #}
				{% endfor %}

			</div>
			{{ knp_pagination_render(pagination) }}

		</div>

	{% endblock %}
	{% block javascripts %}{% endblock %}
