{% extends 'base.html.twig' %}

{% block title %}Recipe
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/oneRecipe.css')}}">
{% endblock %}


{% block body %}
	<div class="bloc-title">
		<h1>{{ recipe.name }}</h1>


	</div>


	<div class="main">

		<div class="flex-part">
			<div class="part-info">
				<div class="line-info">
					<h3>Région :</h3>
					<p>{{recipe.region.name}}</p>

				</div>
				<div class="line-info">
					<h3>Temps de préparation :</h3>
					<p>{{ recipe.cookingTime ? recipe.cookingTime|date('H:i:s') : '' }}min</p>

				</div>
				<div class="line-info">
					<h3>Catégorie :</h3>
					<p>{{ recipe.category.name }}</p>
				</div>

				<div class="line-ingredients">
					<h3>Ingrédients</h3>
					<div class="sep-line"></div>


					{% for name in recipe.ingredients %}
						<p>-{{name}}</p>

					{% endfor %}


				</div>

			</div>
			<div class="part-img">
				<img src="{{ vich_uploader_asset(recipe, 'imageFile') }}">

			</div>
		</div>
		<div class="recipe">
			<h2>
				RECETTE
			</h2>
			<div class="recipe-content">
				<p>
{{ recipe.description|nl2br }}


				</p>
			</div>

			<div class="links-container">

				{% if app.user  and (app.user.id is same as (recipe.userId))%}

					<a class="link" href="{{ path('app_recipe_edit', {'id': recipe.id}) }}">
						<i class="fa-regular fa-pen-to-square"></i>
						éditer la recette</a>

				{% endif %}


				{% if app.user  and (app.user.id is same as (recipe.userId)) %}

					{{ include('recipe/_delete_form.html.twig') }}
				{% endif %}


			</div>

			<div class="links-container">
				<a class="link" href="{{ path('app_recipe_index') }}">Revenir au recettes</a>

			</div>

		</div>


	</div>


{% endblock %}
