{% extends 'base.html.twig' %}

{% block title %}Recipe
{% endblock %}

{% block body %}
<div class="bloc-title">
<h1>{{ recipe.name }}</h1>



</div>


	<table class="table">
		<tbody>
			<tr>
				<th>Description</th>
				<td>{{ recipe.description }}</td>
			</tr>
			<tr>
				<th>Cooking_time</th>
				<td>{{ recipe.cookingTime ? recipe.cookingTime|date('H:i:s') : '' }}
					minutes</td>
			</tr>
			<tr>
				<th>région</th>
				<td>{{recipe.region.name}}</td>
			</tr>
			<tr>
				<th>catégorie</th>
				<td>{{recipe.category.name}}</td>
			</tr>
		</tbody>
	</table>



	

	<a href="{{ path('app_recipe_index') }}">back to list</a>

	

{% if app.user  and (app.user.id is same as (recipe.userId))%}

	<a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}">edit</a>
{% endif %}

	
{% if app.user  and (app.user.id is same as (recipe.userId)) %}

	{{ include('recipe/_delete_form.html.twig') }}
{% endif %}

{% endblock %}
