<!DOCTYPE html>
<html>
	<head>
		<script src="{{ asset('assets/cookies/tarteaucitron.js')}}"></script>

		<script type="text/javascript">
			tarteaucitron.init({
"privacyUrl": "http://0.0.0.0:8080/politique-de-confidentialit%C3%A9", /* Privacy policy url */

"bodyPosition": "bottom", /* or top to bring it as first element for accessibility */

"hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
"cookieName": "tarteaucitron", /* Cookie name */

"orientation": "middle", /* Banner position (top - bottom) */

"groupServices": false, /* Group services by category */
"serviceDefaultState": "wait", /* Default state (true - wait - false) */

"showAlertSmall": false, /* Show the small banner on bottom right */
"cookieslist": false, /* Show the cookie list */

"closePopup": false, /* Show a close X on the banner */

"showIcon": true,
/* Show cookie icon to manage cookies */
// "iconSrc": "", /* Optionnal: URL or base64 encoded image */
"iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */

"adblocker": false, /* Show a Warning if an adblocker is detected */

"DenyAllCta": true, /* Show the deny all button */
"AcceptAllCta": true, /* Show the accept all button when highPrivacy on */
"highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */

"handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

"removeCredit": false, /* Remove credit link */
"moreInfoLink": true, /* Show more info link */

"useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
"useExternalJs": false,
/* If false, the tarteaucitron.js file will be loaded */

// "cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

"readmoreLink": "", /* Change the default readmore link */

"mandatory": true, /* Show a message about mandatory cookies */
"mandatoryCta": true /* Show the disabled accept button when mandatory on */
});

tarteaucitron.user.gtagUa = 'G-THF51002Y7';

tarteaucitron.user.gtagMore = function () { /* add here your optionnal _ga.push() */
};
(tarteaucitron.job = tarteaucitron.job || []).push('gtag');
		</script>
		<link rel="icon" type="image/png" href="{{ asset('assets/img/icons/logo-cookery.png') }}"/>


		<meta charset="UTF-8">
		<title>
			{% block title %}Cookery tour
			{% endblock %}
		</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="stylesheet" href="{{ asset('assets/css/main.css')}}">
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

		

		{# <link rel="stylesheet" href="https://unpkg.com/papercss@1.9.1/dist/paper.min.css"/> #}


		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

	
		<script>
			$(function () {
$('.select-tags').select2();
})
		</script>

		<script src="{{ asset('assets/js/main.js')}}" defer></script>
		<script src="{{ asset('assets/js/like.js')}}" defer></script>
		<script src="{{ asset('assets/js/selectForm.js')}}" defer></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>




		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}{% endblock %}


		{% block javascripts %}{% endblock %}
	</head>
	<body>
		{% include "partials/nav.html.twig" %}



		{% block body %}


			{# <div class="main-container"></div> #}
		{% endblock %}
		{% include "partials/footer.html.twig" %}

	</body>
<script>
	AOS.init();
</script>

</html>
